body {
    background-color: #000;
    background-image: url(../img/weather.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 21px;

    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
}

p {
    color: white;
}

.intro{
  font-size: 30px; 
  background-color: cadetblue; 
  padding: 50px;
}

h1 {
    font-size: 70px;
    color: crimson;
    margin-bottom: 10px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    margin-top: 0px;
    color: green;
}

.top-section {
    background: olivedrab;
    width: 800px;
    height: 1700px;
}
.buttom-section {
    background: olivedrab;
    width: 800px;
    height: 1700px;
}

span {
    color:white;
    font-size: 40px;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: pink;
}

a:active{
    color: blue;
}

a:hover{
    color: #555;
}

.highlight{
    background: orange;
}

.accent-color{
    color: crimson;
    padding: 50px;
}

/* The CSS Box Model */

.box {
    background: pink;
    background-image: url(../img/Road.jpg);
    width: 300px;

    margin: 100px;
    border: 5px solid green;
    border-left: 2px solid red;
    padding: 150px;
    background-size: cover;
    background-position: center;
  
}

.new-color{
    color: crimson;
    font-size: 30px;
    line-height: 1.4;
    font-style: italic;
    font-weight: lighter;
    text-decoration: none;
}
